<main>
  <header class="brand-name">
    <ul class="nav">
      <li class="logo" [routerLink]="['/']">
        <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true">
      </li>
      <li class="search">
        <!--<a class="nav-link disabled" aria-current="page" href="#">ПОИСК ПО САЙТУ</a>-->
        <form class="form-control">
          <input type="text" placeholder="ПОИСК ПО САЙТУ" #filter>
          <button class="btn-outline-primary" type="button"
          (click)="filterResults(filter.value)">НАЙТИ</button>
        </form>
      </li>
      <li class="projects">
        <a class="nav-link active" [routerLink]="['/projects']">ПРОЕКТЫ</a>
      </li>
      <li class="news">
        <a class="nav-link active" [routerLink]="['/news']">НОВОСТИ</a>
      </li>
      <li class="contacts">
        <a class="nav-link active" [routerLink]="['/about']">КОНТАКТЫ</a>
      </li>
      <li class="login">
        <!---<a class="nav-link active" [routerLink]="['/login']">ЛИЧНЫЙ КАБИНЕТ</a>--->
        <div class="row" style="align-items: center">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button 
                type="button" 
                class="btn btn-outline-primary" 
                id="dropdownForm1" ngbDropdownToggle>
                ЛИЧНЫЙ КАБИНЕТ
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                <form class="px-4 py-3">
                  <div class="mb-3">
                    <label for="exampleDropdownFormEmail1">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleDropdownFormEmail1"
                      placeholder="email@example.com"
                      autocomplete="username"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleDropdownFormPassword1">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleDropdownFormPassword1"
                      placeholder="Password"
                      autocomplete="current-password"
                    />
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck" />
                    <label class="form-check-label" for="dropdownCheck"> Запомнить меня </label>
                  </div>
                  <button type="submit" class="btn btn-primary">Войти</button>
                </form>
                <div class="dropdown-divider"></div>
                <button type="button" ngbDropdownItem>Уже зарегистрированы? Войти</button>
                <button type="button" ngbDropdownItem>Забыли пароль?</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </header>
  <section class="content">
  <router-outlet></router-outlet>
  </section>
</main>